*.pdf
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/.idea/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/clients/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/doc/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/examples/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/logs/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/out/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/sprites/*

Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/src/core/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/src/ontology/*
!Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/src/src_manzanares_lemus_alejandro/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/src/testing/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/src/tools/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/src/tracks/*
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/src/source_list.txt

Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/.gitignore
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/actionsFile_aliens_lvl0.txt
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/gson-2.6.2.jar
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/gvgai.iml
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/learningTrack2017.iml
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/LICENSE.txt
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/README_CODE_STRUCTURE.txt
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/README.md
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/sources.txt
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/test_level.txt
Practica/Practica1_BusquedaHeuristica_Videojuegos/TSI-P1/TSI-P1.iml
